{% load static %}

<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>nyc531</title>
<!--
Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="">benny<em>storch</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>מזל טוב <em>לבניי</em></h1>
              <p>איי איי איי בני אתה אשכרה בן 19! </p>
              <p>בניתי משו קטן מקווה שתאהב..</p>
                <p>הברכה בבלוג מספר 10. תגיע אליו לבד(;</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{% static 'ben.mp4' %}" type="video/mp4" />
        </video>
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/1/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>ג'וי <em>המכוערת</em></h1>
                                <p>לא תמצאו כלבה כל כך מכוערת.. זה ליגה מעל כולם</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/joy.jpeg' %}" height="350" width="200">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/2/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1 style="color: #000000">everton</em></h1>
                                <p style="color: #000000">aoy tate</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/ecerton_main.png' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/3/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1 style="color: #000000">סשלר</em></h1>
                                <p style="color: #000000">Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/like.png' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/4/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>igor <em>zeresh</em></h1>
                                <p>Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/next-workout.jpg' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/5/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Ronaldooo <em>aesthetic</em></h1>
                                <p>Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/ronaldo_main.jpg' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/6/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1 style="color: #000000">התמרור המשופם <em>vegan</em></h1>
                                <p style="color: #000000">Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/seshlor.jpeg' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/7/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>seder zhoraim <em>cozary</em></h1>
                                <p>הלימוד האמיתי</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/cozry.jpg' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="/8/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1 style="color: #000000">מזרוחניקקק <em>yuccie</em></h1>
                                <p style="color: #000000">Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/mzrocnik.jpg' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="portfolio-item">
                	<a href="/9/" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>django <em>python</em></h1>
                                <p>hyo yamim</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/django.png' %}" height="350">
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name 
    
    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>




    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js"></script>
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>